body {
 background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.numeric-theme {
  max-width: 320px;
  margin: 0 auto;
}

.numeric-theme + .simple-keyboard-preview {
  max-width: 320px;
}

.simple-keyboard.hg-theme-default.numeric-theme
  .hg-button.hg-standardBtn.hg-button-at {
  max-width: none;
}
.boton{
 margin-left: 50px;
  margin-right: -20px;
    text-decoration: none;
    padding: 10px;
    font-weight: 50px;
    font-size: -10px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
.boton:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
input {
  margin: 20px;
  margin-right:10px;
  margin-left: 200px;
}
.Saldo{
  margin: 20px;
  margin-right:150px;
  margin-left:200px;
  text-decoration: none;
  padding: 10px;
  font-weight: 50px;
  font-size: -10px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}
.Saldo:hover{
    color: #1883ba;
    background-color: #333aff;

}
.Retiro{
  margin: -200px;
  margin-right:200px;
  margin-left: 255px;
  text-decoration: none;
  padding: 10px;
  font-weight: 50px;
  font-size: -10px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}
.Retiro:hover{
    color: #1883ba;
    background-color: #333aff;

}
h1{
 margin-right: auto;
 margin-left: auto;
 margin: center;
}

.App{
  margin-top: 10px;
  border-width:1px;
  border: 1px solid #FFF;
  margin-right: 300px;
  margin-left:300px;
  box-shadow: 0px 20px 15px -15px #818181;
}
